@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
*,body{
    margin: 0 25px;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", serif;
    font-optical-sizing: auto;
}
.toggle{
    width: 100%;
    position: absolute;
    top: 70px;
    right: -390px;
    background-color: #1F1F1F;
    color: #d9d9d9;
    display: flex;
    justify-content: center;
}
.toggle ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
}
.toggle li{
    margin-bottom: 30px;
}
.toggle li a{
    color: #d9d9d9;
    text-decoration: none;
}
.navbar{
    width: 91%;
    display: flex;
    justify-content: space-between;
    padding: 40px 0;
    margin: auto;
    margin-block: 15px;
    align-items: center;
}
.navbar .left{
    margin: 0;
}
.navbar .left img{
    margin: 0;
}
.navbar .middle{
    margin: 0;
}
.navbar .right{
    margin: 0;
}
ul{
    display: flex;
}
li{
    list-style: none;
    margin: 0;
}
li:first-child a{
    font-weight: bolder;
}
a{
    text-decoration: none;
    color: black;
    font-weight:500;
}
.signup-button{
    background-color: black;
    color: white;
    border-radius: 3px;
    padding: 13px 35px;
    font-weight: bold;
    margin-right: 18px;
}
.hero-section{
    width: 100%;
    margin-top: 60px;
    display: flex;
    margin-left: 0;
}
.hero-section .left{
    margin-top: 30px;
    text-align: left;
}
.hero-section .left h1{
    font-size: 110px;
    font-weight: 500;
    margin-bottom: 40px;
}
.project{
    width: 100%;
    margin: 0;
    display: flex;
}
.project .left{
    width: 40%;
}
.count{
    display: flex;
    margin-top: 150px;
    margin-left: 0;
}
.count1{
    display: flex;
    flex-direction: column;
    justify-content: left;
    margin: 0;
}
.count span{
    color: #545454;
    font-size: 3rem;
    margin-bottom: 10px;
}
.count p{
    font-size: 22px;
    font-weight: 400;
    color: #545454;
}
.project .right{
    position: relative;
    width: 50%;
    margin-left: 0;
}
.rectangle{
    width: 180px; 
    height: 180px;
    border-radius: 4px; 
    border: 2px #1F1F1F solid;
    position: absolute;
    left: 0;
    top: 0;
}
.project .right img{
    position: absolute;
    top: 25px;
    left: 25px;
}
.project .right .down-arrow{
    position: absolute;
    right: -69px;
    bottom: -89px;
    border-radius: 2px; 
    background: #1F1F1F;
    width: 100px;
    height: 100px;
    color: #ffff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
}
.services{
    margin-top: 220px;
}
.services .heading{
    display: flex;
    align-items: center;
}
.services .line{
    background-color:#1F1F1F;
    width: 90px;
    height: 2px;
    display: inline-block;
}
.service-box{
    width: 100%;
    margin: 100px 0;
    display: flex;
    justify-content: space-between;
}
.service{
    display: flex;
    justify-content: left;
    margin: 0;
}
.service .left{
    margin: 0;
}
.service .right{
    display: flex;
    flex-direction: column;
    text-align: left;
    margin: 0;
}
.service .right h2{
    color: #1f1f1f;
    font-size: 28px;
    margin-bottom: 29px;
}
.service .right p{
    color: #545454;
}
.dream{
    margin-top: 180px;
    display: flex;
    justify-content: space-between;
}
.dream .left{
    margin: 0;
}
.dream .right{
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: space-between;
}
.dream .right .heading{
    font-size: 50px;
    font-weight: 500;
    color: #1F1F1F;
    margin-bottom: 40px;
}
.dream .right p{
    color: #545454; 
    font-size: 20px; 
    font-weight: 500; 
    line-height: 39.65px;
    margin-bottom: 50px;
    margin-right: 0;
}
.dream .right .option{
    display: flex;
    justify-content: space-between;
    font-size: 24px;
    font-weight: 600;
    margin: 0;
    padding-bottom: 20px;
    margin-bottom: 30px;
    border-bottom: 1px solid #6a6a6a;
}
.dream .right .option p{
    color: #1F1F1F;
    margin-bottom: 0;
}
.design{
    width: 100%;
    margin-top: 170px;
    display: flex;
}
.design .left{
    display: flex;
    flex-direction: column;
    margin: 0;
    margin-right: 0;
}
.design .right{
    margin-left: 0;
}
.design .left .heading{
    font-size: 50px;
    font-weight: 500;
    color: #1F1F1F;
    margin-bottom: 20px;
}
.design .left .steps{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
    margin-top: 40px;
}
.steps .step{
    display: flex;
    justify-content: space-between;
    margin: 0;
    margin-bottom: 30px;
}
.steps .step .left{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.steps .step .left .line{
    width: 1px;
    height: 60px;
    background-color: #6a6a6a;
}
.steps .step .left img{
   width: 60px;
   height: 60px;
   margin-bottom: 30px;
}
.steps .step .right{
    display: flex;
    flex-direction: column;
    margin-top: 13px;
}
.steps .step .right h5{
    color: #1F1F1F;
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 23px;
}
.steps .step .right p{
    color: #545454; 
    font-size: 19px; 
    font-weight: 500; 
    line-height: 26.65px;
    margin-right: 0;
}
.feedback{
    margin: 0;
    margin-top: 170px;
    display: flex;
    width: 100%;
}
.arrows{
    display: flex;
    margin-left: 20;
    margin-top: 20px;
}
.arrows .ar{
    width: 50px;
    height: 50px;
    border-radius: 4px;
    background-color: #d9d9d9;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 0;
    font-size: 30px;
    font-weight: 800;
}
.feedback .right .heading{
    font-size: 50px;
    font-weight: 500;
    color: #1F1F1F;
    margin-bottom: 20px;
}
.feedback .right{
    position: relative;
}
.feedback-box1{
    position: absolute;
    background-color: #1F1F1F;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    color: #ffff;
    padding: 30px;
    padding-top: 50px;
    border: 9px solid white;
    width: 530px;
    height: 530px;
    justify-content: space-evenly;
    top: 150px;
    left: -500px;
}
.feedback-box2{
    position: absolute;
    background-color: #1F1F1F;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    color: #ffff;
    padding: 30px;
    padding-top: 50px;
    border: 9px solid white;
    width: 530px;
    height: 530px;
    justify-content: space-evenly;
    top: 150px;
    left:60px;
}
.feedback-box1 p, .feedback-box2 p{
    font-weight: 400; 
    line-height: 39.65px;
    font-size: 20px;
}
.feedback-box1 .quote,.feedback-box2 .quote{
    margin-top: -30px;
    font-weight: 400;
    /* margin-bottom: -40px; */
    font-size: 90px !important;
}
.feedback-box1 .profile, .feedback-box2 .profile{
    display: flex;
    margin-left: 0;
    align-items: center;
}
.profile .left{
    margin: 0;
}
.profile .right{
    margin: 0;
}
.subscribe{
    display: flex;
    flex-direction: column;
    width: 60%;
    margin: auto;
    align-items: center;
    margin-top: 100px;
    text-align: center;
    background-color: white;
}
.subscribe .heading{
    font-size: 50px;
    color: #1F1F1F;
    font-weight: 500;
}
.subscribe p{
    font-size: 16px;
    color: #545454;
    font-weight: 400;
    padding: 50px 100px;
}
.subscribe .input-box{
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    background-color: white;
    box-shadow: 0px 10px 100px rgba(0, 0, 0, 0.14);
    padding: 13px;
}
.subscribe .input-box .left{
    display: flex;
    margin: 0;
}
.subscribe .input-box .right{
    margin: 0;
}
.subscribe .input-box .left p{
    color: #8C8C8C;
    padding: 0;
    margin: 0;
}
footer{
    background-color: #1F1F1F;
    color: white;
    display: flex;
    padding: 89px 50px;
    position: absolute;
    left: 0;
    z-index: -1;
    margin: 0;
    bottom: -4525px;
}
footer p{
    color: #D1D1D1;
}
footer .left{
    display: flex;
    flex-direction: column;
    width: 20%;
    margin-top: 20px;
}
footer .left .icons{
    display: flex;
    margin: 0 10px;
}
footer .left .icons img{
    margin: 0 10px;
}
footer .right{
    display: flex;
    width: 70%;
    margin-right: 0;
    justify-content: space-between;
}
footer .right .serv{
    display: flex;
    flex-direction: column;
    margin: 28px 30px;
}
footer .right .serv .head{
    color: white; 
    font-size: 24px; 
    font-weight: 600;
    margin-bottom: 20px;
}
footer .right .serv p{
    margin-bottom: 10px;
}
@media (max-width:850px){
    *,body,html{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    body,html{
        width: 100%;
    }
    .hole{
        width: 100%;
    }
    .navbar{
        margin: 0;
        padding-inline: 40px;
        width: 100%;
    }
    .navbar .middle li{
        margin-inline: 8px;
    }
    .navbar .middle li a{
        font-size: 15px;
    }
    .navbar img{
        width: 123px;
        height: 28px;
    }
    .hero-section{
        width: 100%;
        margin-top: 30px;
        padding-inline: 50px;
    }
    .hero-section .left h1{
        font-size: 65px;
        margin-bottom: 10px;
    }
    .hero-section .left div{
        width: 350px !important;
        line-height: 18.12px !important;
        font-size: 10px !important;
        margin-bottom: 30px;
    }
    .hero-section .left {
        width: 64%;
        margin-right: 0;
        margin-top: 0;
    }
    .hero-section .right{
        width: 35%;
        display: flex;
        justify-content: right;
    }
    .hero-section .right img{
        width: 100% !important;
        height: 100% !important;
    }
    .signup-button {
        padding: 10px 30px;
    }
    .project{
        width: 100%;
        padding-inline: 50px;
    }
    .project .left{
        width: 47%;
        margin: 0;
    }
    .project .left button{
        width: 250px !important;
        height: 60px !important;
    }
    .project .left .count{
        margin-top: 25px;
        flex-direction: column;
        width: 80%;
    }
    .project .left .count1{
        text-align: center;
        margin-bottom: 10px;
    }
    .project .left .count1 span{
        font-size: 1.5rem;
        margin-bottom: 0px;
    }
    .project .left .count1 p{
        font-size: 16px;
    }
    .project .right{
        width: 52%;
    }
    .project .right img{
        top: 17px;
        left: 17px;
        width: 90%;
        height: 85%;
    }
    .project .rectangle {
        width: 105px;
        height: 105px;
    }
    .project .right .down-arrow {
        right: -5px;
        bottom: 22px;
        width: 50px;
        height: 50px;
        font-size: 2rem;
    }
    .services{
        margin-top: 70px;
        width: 100%;
        padding-inline: 50px;
    }
    .services .heading span{
        font-size: 43px !important;
    }
    .services .service-box{
        margin:47px 0;
    }
    .service .right h2 {
        color: #1f1f1f;
        font-size: 20px;
        margin-bottom: 10px;
    }
    .service .right p {
        font-size: 10px;
    }
    .service .right {
        margin: 0;
        padding: 2px 20px;
    }


    .dream{
        width: 100%;
        margin-top: 65px;
        justify-content: space-between;
        padding-inline: 50px;
    }
    .dream .left{
        width: 46%;
        display: flex;
        justify-content: left;
    }
    .dream .left img{
        width: 100%;
        height: 100%;
    }
    .dream .right{
        width: 49%;
    }
    .dream .right .heading{
        font-size: 43px;
        margin-bottom: 15px;
    }
    .dream .right p{
        font-size: 12px;
        line-height: 20.65px;
        margin-bottom: 20px;
        margin-right: 0;
    }
    .dream .right .option {
        display: flex;
        justify-content: space-between;
        font-size: 15px;
        font-weight: 600;
        margin: 0;
        padding-bottom: 16px;
        margin-bottom: 10px;
    }
    .dream .right .option p{
        font-size: 15px;
    }
    .dream .right button{
        margin-top: 8px;
        height: 50px !important;
        font-size: 20px !important;
    }
    .design{
        width: 100%;
        margin-top: 70px;
        justify-content: space-between;
        padding-inline: 50px;
    }
    .design .left{
        width: 50%;
    }
    .design .left .heading{
        margin-bottom: 0px;
        font-size: 42px;
    }
    .design .right{
        width: 49%;
        display: flex;
        justify-content: right;
    }
    .design .right img{
        width: 100%;
        height: 100%;
    }
    .design .left .steps{
        margin-top: 20px;
    }
    .design .left .steps .step{
        margin-bottom: 13px;
    }
    .design .left .steps .step .left{
        width: 25%;
    }
    .design .left .steps .step .left img{
        margin-bottom: 15px;
    }
    .design .left .steps .step .left .line{
        height: 50px;

    }
    .design .left .steps .step .right{
        width: 73%;
    }
    .design .left .steps .step .right p{
        font-size: 12px;
        line-height: 17.65px;
    }
    .design .left .steps .step h5{
       margin-bottom: 10px;
    }


    .feedback{
        width: 100%;
        margin-top: 85px;
        justify-content: space-between;
    }
    .feedback .left{
        width: 49%;
    }
    .feedback .left .arrows{
        margin-top: 10px;
    }
    .feedback .left .ar{
        width: 35px;
        height: 35px;
        font-size: 20px;
        margin-right: 10px;
    }
    #back{
        width: 100%;
        height: 362px;
    }
    .feedback .right{
        width: 50%;
        text-align: center;
    }
    .feedback .right .heading{
        font-size: 40px;
    }
    .feedback-box1 {
        color: #ffff;
        padding: 30px;
        padding-top: 50px;
        border: 9px solid white;
        width: 300px;
        height:300px;
        justify-content: space-evenly;
        top: 119px;
        left: -262px;
    }
    .feedback-box2 {
        color: #ffff;
        padding: 30px;
        padding-top: 50px;
        border: 9px solid white;
        width: 300px;
        height: 300px;
        justify-content: space-evenly;
        top: 119px;
        left: 62px;
    }
    .feedback-box1 p, .feedback-box2 p{
        font-weight: 400; 
        line-height: 19.65px;
        font-size: 10px;
    }
    .feedback-box1 .quote,.feedback-box2 .quote{
        margin-top: -30px;
        font-weight: 400;
        font-size: 60px !important;
    }
    .feedback-box1 .profile, .feedback-box2 .profile{
        display: flex;
        margin-left: 0;
        align-items: center;
    }
    .profile .left{
        margin: 0;
        width: 35%;
    }
    .profile .left img{
        width: 45px;
        height: 45px;
    }
    .profile .right{
        margin: 0;
        text-align: left;
    }
    .profile .right .name{
        font-size: 15px !important;
    }
    .profile .right p{
        font-size: 10px !important;
    }


    .subscribe{
        margin-top: 90px;
        width: 70%;
    }
    .subscribe .heading{
        font-size: 43px;
        margin-bottom: 0;
    }
    .subscribe p{
        margin-top: 0px;
        padding: 40px 60px;
    }
    .subscribe .input-box button{
        width: 180px !important ;
        height: 60px !important;
        font-size: 20px;
    }
    .subscribe .input-box .left img{
        margin-right: 20px;
        margin-left: 20px;
    }
    .subscribe .input-box{
        padding: 10px;
    }
    footer{
        position: relative;
        width: 100%;
        top: -32px;
    }
    footer .left{
        width: 30%;
    }
    footer .left p{
        font-size: 13px !important;
        line-height: 20px !important;
    }
    footer .right p{
        font-size: 12px !important;
    }
    footer .left img{
        width: 120px;
        height: 35px;
        margin-bottom: 15px !important;
    }
    footer .left .icons{
        margin-left: 0;
    }
    footer .left .icons img{
        width: 26px;
        height: 26px;
        margin-right: 13px;
        margin-left: 0;
    }
    footer .right{
        width: 100%;
        justify-content: space-between;
        margin-left: 20px;
    }
    footer .right .serv{
        margin: 28px 10px;
    }
    footer .right .serv .head{
        font-size: 18px;
    }
}
@media (max-width: 480px){
    *,body,html{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    body,html{
        width: 100%;
    }
    .navbar{
        justify-content: space-between;
        box-sizing: border-box;
        padding: 25px;
        margin: 0;
        width: 100%;
    }
    .navbar img{
        width: 110px;
        height: 30px;
        margin: 0;
        padding: 0;
    }
    .navbar .middle{
        display: none;
    }
    .navbar .right .signup-button{
        display: none;
    }
    .signup-button{
        padding: 8px 10px;
       margin:0;
    }
    .hamburger{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
    .hamburger .line{
        width: 30px;
        height: 1px;
        border-bottom: 3px solid black;
        margin: 0;
        margin-bottom: 5px;
    }
    .hero-section{
        flex-direction: column;
        text-align: center;
        align-items: center;
        width: 100%;
        margin: 0;
        padding-block: 15px;
    }
    .hero-section .left{
        text-align: center;
        width: 100%;
        margin: 0 !important;
    }
    .hero-section .left h1{
        font-size: 60px;
        margin: 0;
        padding: 0;
        margin-bottom: 20px;
        line-height: 65px;
    }
    .hero-section .right{
        width: 100%;
        margin-top: 20px;
    }
    .hero-section .right img{
        width: 100% !important;
        height: 250px !important;
        margin: 0 !important;
    }
    .hero-section .left div{
        width: 100% !important;
        font-size: 13px !important;
        line-height: 22px !important;
        padding: 0px !important;
        margin-bottom: 0 !important;
    }
    .project{
        flex-direction: column;
        width: 100%;
        margin-top: 15px;
        padding-inline: 30px;
    }
    .project .left{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .project .left .count{
        flex-direction: row;
        margin-top: 30px;
        width: 100%;
        justify-content: space-evenly;
    }
    .project .count .count1{
        justify-content: center;
        align-items: center;
    }
    .project .count span{
        font-size: 2rem;
    }
    .project .count p{
        font-size: 18px;
        text-align: center;
    }
    .project .right{
        width: 90%;
        margin: auto;
        margin-top: 20px;
    }
    .project .right .rectangle {
        width: 100px;
        height: 100px;
        left: 0;
        top: 0;
    }
    .project .right img {
    top: 15px;
    left: 15px;
        width: 90% !important;
        height: 180px !important;
    }
    .project .right .down-arrow{
        right: -15px;
        bottom: -195px;
        width: 50px;
        height: 50px;
        color: #ffff;
        font-size: 2rem;
    }


    .services{
        margin-top: 240px;
        padding-inline: 45px;
    }
    .services .heading span{
        font-size: 36px !important;
        margin-right: 0;
    }
    .services .line{
        width: 60px;
        height: 2px;
    }
    .services .service-box{
        margin: 40px 0;
        justify-content: space-between;
        flex-direction: column;
        width: 100%;
    }
    .services .service{
        margin-bottom: 20px;
    }
    .service .right{
        margin-left: 30px;
        width: 100%;
        padding: 0;
    }
    .service .right h2{
        margin-bottom: 8px;
    }


    .dream{
        margin-top: 20px;
        flex-wrap: wrap-reverse;
        text-align: center;
        width: 100%;
        padding-inline: 45px;
    }
    .dream .right{
        width: 100%;
        padding: 0;
    }
    .dream .right .heading{
        font-size: 40px;
        font-weight: 500;
        color: #1F1F1F;
        margin-bottom: 10px;
    }
    .dream .right p{
        color: #545454; 
        font-size: 14px; 
        font-weight: 500; 
        line-height: 20.65px;
        margin-bottom: 50px;
        margin-right: 0;
    }
    .dream .right .option{
        display: flex;
        justify-content: space-between;
        font-size: 15px;
        font-weight: 600;
        margin: 0;
        padding-bottom: 10px;
        margin-bottom: 20px;
        border-bottom: 1px solid #6a6a6a;
    }
    .dream .right .option p{
        color: #1F1F1F;
        margin: 0;
        font-size: 13px;
    }
    .dream .right button{
        margin: auto;
    }
    .dream .left{
        width: 100%;
    }
    .dream .left img{
        width: 100%;
        height: 280px;
        margin-top: 40px;
    }




    .design{
        margin-top: 50px;
        text-align: center;
        flex-direction: column;
        width: 100%;
    }
    .design .left{
        width: 100%;
    }
    .design .right{
        width: 100%;
        margin-top: 20px;
    }
    .design .left .heading{
        font-size: 40px;
        margin-bottom: 30px;
    }
    .design .left .steps{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: 0;
    }
    .design .right img{
        width: 100%;
        height: 280px;
    }
    .design .left .steps .step{
        text-align: left;
        margin-bottom: 8px;
    }
    .steps .step .right{
        margin-left: 28px;
        margin-right: 0;
    }
    .steps .step .left .line{
        height: 80px;
    }
    .steps .step .left img{
       width: 60px;
       height: 60px;
       margin-bottom: 30px;
    }
    .steps .step .right h5{
        font-size: 24px;
        margin-bottom: 20px;
    }
    .steps .step .right p{
        color: #545454; 
        font-size: 19px; 
        font-weight: 500; 
        line-height: 26.65px;
        margin-right: 0;
    }



    .subscribe{
        display: flex;
        flex-direction: column;
        width: 94%;
        margin: auto;
        align-items: center;
        margin-top: 60px;
        text-align: center;
        background-color: white;
    }
    .subscribe .heading{
        font-size: 40px;
        margin-bottom: 0;
    }
    .subscribe p{
        font-size: 14px;
        color: #545454;
        font-weight: 400;
        padding: 30px 30px;
    }
    .subscribe .input-box{
        display: flex;
        justify-content: space-between;
        width: 100%;
        align-items: center;
        background-color: white;
        box-shadow: 0px 10px 100px rgba(0, 0, 0, 0.14);
        padding: 8px;
    }
    .subscribe .input-box .left{
        display: flex;
        margin: 0;
    }
    .subscribe .input-box .right{
        margin: 0;
    }
    .subscribe .input-box .left p{
        color: #8C8C8C;
        padding: 0;
        margin: 0;
    }
    .subscribe .input-box .left img{
        padding: 0;
        margin-left: 6px;
        margin-right: 9px;
    }

    .subscribe .input-box button{
        width: 100px !important;
        height: 40px !important;
        font-size: 14px !important;
    }



    .feedback{
        margin: 0;
        margin-top: 80px;
        position: relative;
        display:flex;
        flex-wrap: wrap-reverse;
        width: 100%;
        box-sizing: border-box;
    }
    #back{
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0.6;
        z-index: -1;
    }
    .feedback #r{
        width: 100%;
    }
    .feedback .right .heading{
        font-size: 40px;
        margin-bottom: 10px;
        margin-top: 30px;
        text-align: center;
    }
    
    .feedback-box1,.feedback-box2{
        display: none !important;
    }
    .feedback .right .image-gallery{
        display:inline-block !important;
        padding: 10px;
        overflow: scroll;
    }
    .arrows{
        display: none;
        margin-left: 20;
        margin-top: 20px;

    }
    .arrows .ar{
        width: 50px;
        height: 50px;
        border-radius: 4px;
        background-color: #d9d9d9;
        color: black;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 0;
        font-size: 30px;
        font-weight: 800;
    }
    .feedback-box11{
        background-color: #1F1F1F;
        border-radius: 4px;
        display: flex;
        flex-direction: column;
        color: #ffff;
        padding: 30px;
        padding-top: 50px;
        border: 9px solid white;
        display: inline-flex;
        margin-bottom: 10px;
    }
    .feedback-box22{
        background-color: #1F1F1F;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    color: #ffff;
    padding: 30px;
    padding-top: 50px;
    border: 9px solid white;
    display: inline-flex;
    }
    .feedback-box11 p, .feedback-box22 p{
        font-weight: 300; 
        line-height: 29.65px;
        font-size: 15px;
        width: 100%;
    }
    .quote{
        font-weight: 400;
        margin-bottom: 5px;
        font-size: 80px !important;

    }
    .profile{
        display: flex;
        margin-left: 0;
        align-items: center;
        margin-top: 30px;
    }
    .profile .left{
        margin: 0;
    }
    .profile .right{
        margin: 0;
        margin-left: 20px;
        margin-top: 10px;
    }
    .profile .name{
        margin-bottom: 2px !important;
    }

    footer{
        position: relative;
        margin: auto;
        width: 100%;
        top: -30px;
        flex-direction: column;
        padding-top: 80px;
        z-index: -1;
    }
    footer .left{
        display: flex;
        flex-direction: column;
        margin-top: 0px;
        width: 100%;
        margin-bottom: 30px;
    }
    footer .left img{
        width: 130px;
    }
    footer .left .icons{
        display: flex;
        margin: 0 10px;
        margin-left: 0;
    }
    footer .left .icons img{
        margin-left: 0;
        margin-right: 20px;
    }
    footer .right{
        width: 100%;
        flex-direction: column;
        margin-left: 0;
    }
    footer .right .serv{
        display: flex;
        flex-direction: column;
        margin: 0;
        margin-bottom: 30px;
    }
    footer .right .serv .head{
        color: white; 
        font-size: 24px; 
        font-weight: 600;
        margin-bottom: 20px;
    }
    footer .right .serv p{
        margin-bottom: 10px;
    }
}
